{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<style>
/* 1. Make the banner taller */
.page__hero--overlay {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}

/* 2. Mobile Styles (Default) */
.sidebar.sticky {
    margin-top: 20px !important; /* A reasonable gap for mobile screens */
}

/* 3. Desktop Styles (Only applies to screens wider than 1024px) */
@media screen and (min-width: 1024px) {
    .sidebar.sticky {
        margin-top: 170px !important; /* Pushes it down only on desktop */
    }
}

</style>

<!-- end custom head snippets -->
